@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    height:100vh;
    background:url("../images/ハロウィン.jpg")center/cover no-repeat;
}
#gnav{
    width: 100%;
    background:#000;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    overflow-x: hidden;
}
#gnav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
#gnav  .page{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gnav a{
    display:block;
}
#gnav a:hover{
    opacity:.8;
}
#gnav .logo img{
    display:block;
    background-color: #B61EA7;
    object-fit: contain;
    width:200px;
    height: 100px;
}
#gnav .page a{
    height:100%;
    line-height: 100px;
    color:#fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0 2em;
    background-color: #CD641F;
}
main{
    /* min-height: 100vh; */
    background-color: #EA8F3F;
    color: #AE02A3;
    padding:80px;
}
p{
    text-align:center;
    font-size: 24px;
}
a.img img{
    width: 300px;
    height: auto;
    text-align: center;
}
div.parent{
    position: relative;
}
p.text{
    text-align:center;
    margin-top: 100px;
}
footer{
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
#copyright{
    color:#fff;
    font-size: 12px;
}